
 INSERT INTO dbo.JobsDetails (JobType, Salary, Title, Description, DateTimeSaved)
VALUES ( 'Backend', '52000', '.NET Developer', 'WebAPI', '2021-05-25');

INSERT INTO dbo.JobsDetails (JobType, Salary, Title, Description, DateTimeSaved)
VALUES ( 'FrontEnd', '52000', 'ASP.NET Developer', 'MVC', '2021-05-25');

INSERT INTO dbo.JobsDetails (JobType, Salary, Title, Description, DateTimeSaved)
VALUES ( 'Backend', '52000', '.NET Developer', 'WebAPI', '2021-05-25');







select * from dbo.JobsDetails;

USE LawstoreDB

select * from JobsDetails